<ion-toolbar color="light">
  <ion-title class="ion-text-center" text-uppercase>
    Order Summary
  </ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content padding>
  <div class="confirm-order-image-wrapper">
    <img class="confirm-order-image" src="./assets/img/confirm-order.png"/>
  </div>
  <p padding-horizontal>
    Order will be picked up between {{ startTime | date:'shortTime':'+0000' }} and {{ endTime | date:'shortTime':'+0000' }} and will be delivered by {{ endTime | date:'shortTime':'+0000' }}.
    Your order must be ready for pick up by {{ startTime | date:'shortTime':'+0000' }}.
  </p>
  <p padding-horizontal>
    Delivery to: {{ address }}
  </p>
  <div class="input-group ion-text-center" padding>
    <ion-button
        type="submit"
        class="submit-button centered"
        (click)="confirm()"
    >
      Confirm
    </ion-button>
  </div>
</ion-content>
