<ion-toolbar color="light">
  <ion-title class="ion-text-center">
    {{data ? 'Edit' : 'Add'}} Category
  </ion-title>
</ion-toolbar>
<ion-content>
  <form (submit)="submit()" #form="ngForm" class="ion-padding">
    <div class="form-group">
      <label for="name">Category Name:</label>
      <div class="input-group">
        <input type="text"
               class="form-control"
               id="name"
               placeholder="Category Name"
               matInput
               required
               minlength="3"
               name="name"
               #nameEl="ngModel"
               autocomplete="NoAutocomplete"
               [(ngModel)]="name"
        >
      </div>
    </div>

    <div *ngIf="nameEl.invalid && (nameEl.dirty || nameEl.touched)" class="ion-margin-bottom">
      <small class="error">Please enter category name</small>
    </div>

    <div class="form-group">
      <label for="description">Category Description:</label>
      <div class="input-group">
        <input type="text"
               class="form-control"
               id="description"
               placeholder="Category Description"
               name="description"
               #descriptionEl="ngModel"
               autocomplete="NoAutocomplete"
               [(ngModel)]="description"
        >
      </div>
    </div>

    <div class="input-group ion-text-center display-flex">
      <ion-button
          class="cancel-button"
          (click)="cancel()"
      >
        Cancel
      </ion-button>
      <ion-button
          type="submit"
          class="submit-button"
          [disabled]="form.invalid"
      >
        Save
      </ion-button>
    </div>
  </form>
</ion-content>
