<ion-content>
  <app-add-product-button-big *ngIf="merchant" [accountId]="merchant.id"></app-add-product-button-big>
  <div padding *ngIf="merchant">
    <table class="table table-striped table-with-actions">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th class="hide-md hide-xs" scope="col">Description</th>
          <th scope="col" class="ion-text-right small-cell">Price</th>
          <th class="hide-xs" scope="col" >Image</th>
          <th scope="col" class="small-cell"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <th scope="row">{{item.name}}</th>
          <td class="hide-md hide-xs">{{item.description}}</td>
          <td class="ion-text-right">
            ${{item.price | number:'1.2-2'}}
          </td>
          <td class="ion-text-right hide-xs">
            <ion-img *ngIf="item.image" [src]="item.image"></ion-img>
          </td>
          <td>
            <ion-buttons>
              <app-product-eye-button [item]="item"></app-product-eye-button>
              <ion-button (click)="showProductModal(item)">
                <ion-icon name="create"></ion-icon>
              </ion-button>
              <app-product-delete-button [accountId]="merchant.id" [productId]="item.id"></app-product-delete-button>
            </ion-buttons>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
