ion-fab-button {
  --border-radius: 15px;
  --box-shadow: none;
  height: 32px;
  width: 200px;
  overflow: visible;
  margin: 0px 16px 0 auto;

  ion-icon {
    position: absolute;
    left: 10px;
  }
}
