
  <ion-header no-border>
    <ion-toolbar>
    <ion-title>Select Bluetooth Printer <ion-button size="small" fill="outline" style="float:right" (click)="closeModal()"><ion-icon name="close" style="color:red;font-size: 25px"></ion-icon></ion-button></ion-title>
    </ion-toolbar>
    </ion-header>
    
    <ion-content mode="ios">
    
    <ion-button expand="full" color="danger" (click)="findBtDevices()">
        Find Devices
    </ion-button>
    <ion-list>
    <ion-list-header>
        List of Bluetooth Devices
    </ion-list-header>

    <ion-item *ngFor="let item of bluetoothList" (click)="selectPrinter(item.portName, item.modelName)">
        {{item.portName}} {{item.modelName}}
    </ion-item>
    </ion-list>
    <div>
        Selected Printer: {{selectedPrinter}}
    </div>   
    </ion-content>
    