<ion-content class="transparent ion-padding">
  <ion-card class="full-page-card">
    <h1 class="text-align-center"><ion-icon name="calendar"></ion-icon>Active orders</h1>
    <ion-list>
      <app-order-type-segment
        [allOrders]="allOrders"
        (orders)="filterChange($event)"
      ></app-order-type-segment>
      <ion-item
          *ngFor="let order of orders"
          class="ion-activatable ripple-parent"
          [routerLink]="['/order', order.id]"
      >
        <ion-ripple-effect></ion-ripple-effect>
        <ion-grid class="display-flex">
          <ion-col sizeXs="9" sizeSm="10" sizeXl="6" sizeMd="6" sizeLg="4">
            <ion-label>
              <div *ngIf="order.isNew" class="new-menu-point"></div>
              <strong>
                {{ order.metadata.dropOffTitle }}
              </strong>
              <small class="hide-tablet">
                {{ order.createdAt | date:'medium' }}
              </small>
            </ion-label>
          </ion-col>
          <ion-col size="4" class="text-align-center hide-xs hide-sm">
            <ion-label>
              <span class="flex-1 text-align-center">
                {{ order.createdAt | date:'medium' }}
              </span>
            </ion-label>
          </ion-col>
          <ion-col class="text-align-center badge-col" sizeXs="3" sizeSm="2" sizeXl="2" sizeMd="2" sizeLg="2">
            <app-status-badge [status]="order.status"></app-status-badge>
          </ion-col>
        </ion-grid>
      </ion-item>
    </ion-list>
    <div *ngIf="orders.length === 0" class="ion-text-center ion-margin-vertical">
      No Active Orders
    </div>
  </ion-card>
</ion-content>
