<ion-content padding class="transparent">

  <ion-card padding class="full-page-card">
    <h1 class="text-align-center position-relative">
      <app-back-button></app-back-button>
      Opening Time
    </h1>

    <form (submit)="updateOpeningTime()" #form="ngForm">

      <ion-item>
        <ion-label>Open Time</ion-label>
        <ion-datetime
            display-format="HH:mm"
            picker-format="HH mm"
            (ionChange)="timeChanged()"
            [(ngModel)]="openHour"
            hourValues="10,11,12,13,14,15,16,17,18,19,20,21,22"
            minuteValues="0"
            name="openHour"
        ></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Close Time</ion-label>
        <ion-datetime
            display-format="HH:mm"
            picker-format="HH mm"
            (ionChange)="timeChanged()"
            [(ngModel)]="closeHour"
            hourValues="10,11,12,13,14,15,16,17,18,19,20,21,22"
            minuteValues="0"
            name="closeHour"
        ></ion-datetime>
      </ion-item>

      <div>&nbsp;
        <small class="error" *ngIf="invalid">Open Time should be less that Close Time</small>
      </div>

      <div class="input-group ion-text-center" padding>
        <ion-button
            type="submit"
            class="submit-button centered"
            [disabled]="invalid"
        >
          <ion-icon slot="start" name="sync"></ion-icon>
          Change Time
        </ion-button>
      </div>
    </form>
  </ion-card>

</ion-content>
