.expand-wrapper {
  transition: 0.2s linear;
}

.collapsed {
  height: 0 !important;
}

.badge-col {
  padding: 0;
  margin-top: 7px;
}

ion-grid {
  max-width: 100%;
}

.receipt-button {
  margin: 0;
  margin-top: -16px;
  font-size: 10px;
}
