<ion-content padding class="transparent auth-page">
  <ion-card>
    <h1 class="text-align-center">
      <img src="./assets/img/logo.png" />
    </h1>

    <form (submit)="login()" #form="ngForm">
      <div>
        <ion-icon name="mail"></ion-icon>
        <ion-input
            type="email"
            placeholder="E-mail"
            id="email"
            required
            email
            name="email"
            [(ngModel)]="email"
        ></ion-input>
      </div>
      <div>
        <ion-icon name="lock"></ion-icon>
        <ion-input
            type="password"
            id="password"
            placeholder="Password"
            aria-describedby="passwordPrepend"
            required
            minlength="5"
            name="password"
            [(ngModel)]="password"
        ></ion-input>
      </div>
      <ion-button
          type="submit"
          [disabled]="form.invalid"
      >
        Login
      </ion-button>
      <div class="forgot-password-container link-wrapper" text-right >
        <a [routerLink]="['/forgot-password']">
          Forgot password?
        </a>
      </div>
      <div class="link-wrapper" text-center>
        or
      </div>
      <div class="link-wrapper" text-center>
        <a [routerLink]="['/sign-up']">
          Create an Account
        </a>
      </div>
    </form>
  </ion-card>
</ion-content>
