<ion-content class="transparent ion-padding">

  <ion-card class="full-page-card ion-padding">
    <h1 class="text-align-center position-relative">
      <app-back-button></app-back-button>
      Menu
    </h1>
    <ion-tabs>
      <ion-tab-bar slot="top">
        <ion-tab-button tab="all">
          <ion-label>All</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="categories">
          <ion-label>Categories</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="products">
          <ion-label>Products</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="options">
          <ion-label>Options</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-card>
</ion-content>
