ion-card {
  height: 100%;
}

ion-tabs {
  top: 80px;

  ::ng-deep {

    .tabs-inner {
      margin-bottom: 100px;
    }
  }

  ion-tab-bar {
    --border: none;

    ion-tab-button {
      margin: 10px 5px;
      height: 28px;
      /* background: var(--ion-color-light); */
      border-radius: 4px;
      --background: var(--ion-color-light);
      border: 1px solid var(--ion-tab-bar-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.07))));
      --color: #000;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      --ripple-color: #000;
      max-width: 110px;
      font-size: 14px;

      &.tab-selected {
        --background: var(--ion-color-dark);
        --color-selected: #FFF;
      }
    }
  }
}

.sync {
  background-color: #000000;
  color: #ffffff;

  .inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 24px;
      height: 24px;
    }
    span {
      text-transform: none;
      font-size: 1.2em;
      line-height: 2em;
      font-weight: 400;
      margin-left: 10px;

    }
  }

}

ion-row .hydrated {
  display: flex;
  justify-content: center !important;
}
