<ion-content class="transparent ion-padding">

  <ion-card class="full-page-card ion-padding">
    <h1 class="text-align-center position-relative">
      <app-back-button></app-back-button>
      Change Password
    </h1>
    <form (submit)="changePassword()" #form="ngForm">

      <div class="form-group">
        <label for="currpass">New password:</label>
        <div class="input-group">
          <input type="password"
                 class="form-control"
                 id="currpass"
                 placeholder="Current password"
                 required
                 name="currpass"
                 #newpassEl="ngModel"
                 autocomplete="NoAutocomplete"
                 [(ngModel)]="curPassword"
          >
        </div>
      </div>

      <div class="form-group">
        <label for="newpass">New password:</label>
        <div class="input-group">
          <input type="password"
                 class="form-control"
                 id="newpass"
                 placeholder="New password"
                 required
                 name="newpass"
                 minlength="7"
                 #newpassEl="ngModel"
                 autocomplete="NoAutocomplete"
                 [(ngModel)]="newPassword"
          >
        </div>
      </div>

      <div *ngIf="newpassEl.invalid && (newpassEl.dirty || newpassEl.touched)">
        <small class="error">Password min length is 7 symbols</small>
      </div>

      <div class="form-group">
        <label for="newpass2">Confirm password:</label>
        <div class="input-group">
          <input type="password"
                 class="form-control"
                 id="newpass2"
                 placeholder="Confirm password"
                 required
                 name="newpass2"
                 #newpass2El="ngModel"
                 autocomplete="NoAutocomplete"
                 [(ngModel)]="newpass2"
          >
        </div>
      </div>

      <div *ngIf="newPassword !== newpass2 && (newpass2El.dirty || newpass2El.touched)">
        <small class="error">Password should be the same</small>
      </div>

      <div class="input-group ion-padding">
        <ion-button
            type="submit"
            class="submit-button centered"
            [disabled]="form.invalid || newPassword !== newpass2"
        >
          <ion-icon slot="start" name="sync"></ion-icon>
          Change my password
        </ion-button>
      </div>
    </form>
  </ion-card>

</ion-content>
