<ion-content>
  <ion-grid>
    <ion-row>
       <ion-col>
         <a  href="javascript:void(0);" (click)="setPrintType(1)">Page Print</a>
       </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <a  href="javascript:void(0);" (click)="setPrintType(2)" >Ticket Print</a>
      </ion-col>      
    </ion-row>    
    <ion-row>
      <ion-col>
        <a  href="javascript:void(0);" (click)="setPrintType(0)" >Close</a>
      </ion-col>      
    </ion-row>
  </ion-grid> 
</ion-content> 