<ion-app>
  <div class="green-screen" *ngIf="greenScreenOrders" (click)="hideGreenScreen()">
    <div class="green-orders-count">
      {{ greenScreenOrders }}
    </div>
    <div class="green-new-orders">
      New Order{{ greenScreenOrders > 1 ? 's' : '' }}
    </div>
  </div>
  <ion-header *ngIf="isLogged">
    <ion-toolbar class="header-horizontal-padding-phone">
      <ion-buttons slot="start" color="primary" class="hide-tablet">
        <ion-menu-toggle class="ion-no-margin">
          <ion-icon name="menu" color="primary"></ion-icon>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title>
        <img src="./assets/img/logo-white.png"/>
      </ion-title>
      <ion-buttons slot="end" class="hide-phone" color="primary">
        <a [routerLink]="['/history']" class="ion-margin-horizontal">
          <span>History</span>
        </a>
        <a [routerLink]="['/booking']" class="ion-margin-horizontal">
          <span>Add Delivery</span>
        </a>
        <a [routerLink]="['/contact-us']" class="ion-margin-horizontal">
          <span>Contact Us</span>
        </a>
        <a [routerLink]="['/settings']" class="ion-margin-horizontal">
          <span>Settings</span>
        </a>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-split-pane *ngIf="isLogged" when="md" contentId="main">
    <ion-menu contentId="main">
      <ion-content style="--offset-top: 52px;">
        <ion-list class="menu-orders-list hide-phone ion-padding-vertical ion-padding-start">
          <app-order-type-segment
            [allOrders]="allOrders"
            [totalCount]="allOrders.length"
            (orders)="filterChange($event)"
          ></app-order-type-segment>
          <ion-menu-toggle auto-hide="false" *ngFor="let order of orders">
            <ion-item
                class="ion-no-padding ion-margin-bottom"
                [routerDirection]="'root'"
                [routerLink]="['/order', order.id]"
                [ngClass]="{'active-order': curOrder && curOrder.id === order.id}"
            >
              <ion-label>
                <h2
                    [ngClass]="{ 'has-new-menu-point': order.isNew }"
                >
                  {{ order.metadata.dropOffTitle || 'No Name' }}
                  <div *ngIf="order.isNew" class="new-menu-point"></div>
                </h2>
                <p>{{order.createdAt | date:'short'}}</p>
                <app-status-badge [status]="order.status"></app-status-badge>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <div *ngIf="orders.length === 0" class="ion-text-center ion-margin-vertical">
            No Active Orders
          </div>
        </ion-list>
        <ion-list class="menu-links-list hide-tablet ion-no-margin ion-no-padding">
          <ion-item>
            <ion-menu-button [routerLink]="['/orders-list']">
              <ion-label class="ion-text-left">
                Orders
              </ion-label>
            </ion-menu-button>
            <ion-badge
                *ngIf="allOrders && allOrders.length"
                slot="end"
                color="primary"
            > {{ allOrders.length }} </ion-badge>
          </ion-item>
          <ion-item>
            <ion-menu-button [routerLink]="['/history']">
              <ion-label class="ion-text-left">
                History
              </ion-label>
            </ion-menu-button>
          </ion-item>
          <ion-item>
            <ion-menu-button [routerLink]="['/booking']">
              <ion-label class="ion-text-left">
                Add Delivery
              </ion-label>
            </ion-menu-button>
          </ion-item>
          <ion-item>
            <ion-menu-button [routerLink]="['/settings']">
              <ion-label class="ion-text-left">
                Settings
              </ion-label>
            </ion-menu-button>
          </ion-item>
          <ion-item>
            <ion-menu-button [routerLink]="['/contact-us']">
              <ion-label class="ion-text-left">
                Contact Us
              </ion-label>
            </ion-menu-button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
  <div class="auth-pages-wrapper" [class.imageless]="isLogged === true" [class.imagefull]="isLogged === false">
    <ion-router-outlet main *ngIf="!isLogged"></ion-router-outlet>
  </div>
</ion-app>
