<ion-app>
  <ion-header *ngIf="isLogged">
    <ion-toolbar class="header-horizontal-padding-phone">
      <ion-title slot="start" class="hide-phone">
        <img src="./assets/img/logo-menu-n.png"/>
      </ion-title>
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/home']" class="no-margin-phone hide-phone">
          <ion-icon name="menu"></ion-icon>
        </ion-button>
        <ion-button [routerLink]="['/orders-list']" class="no-margin-phone hide-tablet">
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/history']">
          <ion-icon slot="start" name="calendar" class="no-margin-phone"></ion-icon>
          <span class="hide-phone">History</span>
        </ion-button>
        <ion-button [routerLink]="['/booking']" class="bold">
          <ion-icon slot="start" name="add-circle-outline" class="no-margin-phone"></ion-icon>
          <span class="hide-phone">BOOKING</span>
        </ion-button>
        <ion-button [routerLink]="['/settings']">
          <ion-icon slot="start" name="settings" class="no-margin-phone"></ion-icon>
          <span class="hide-phone">More</span>
        </ion-button>
        <ion-button [routerLink]="['/login']" (click)="logout()">
          <ion-icon slot="start" name="log-out" class="no-margin-phone"></ion-icon>
          <span class="hide-phone">Logout</span>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-split-pane *ngIf="isLogged" when="md">
    <ion-menu  [hidden]="!isLogged">
      <ion-content style="--offset-top: 52px;">
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let order of orders">
            <ion-item
                [routerDirection]="'root'"
                [routerLink]="['/home']"
                (click)="setCurrentOrder(order)"
                [ngClass]="{'active-order': curOrder && curOrder.id === order.id}"
            >
              <ion-label>
                <h1>{{order.metadata.dropOffTitle || 'No Name'}}</h1>
                <p>{{order.createdAt | date:'short'}}</p>
                <app-status-badge [status]="order.status"></app-status-badge>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
  <div class="auth-pages-wrapper" [class.imageless]="isLogged">
    <ion-router-outlet main *ngIf="!isLogged"></ion-router-outlet>
  </div>
</ion-app>
