ion-title {
  //min-width: 150px !important;
  //max-width: 200px !important;

  img {
    height: 25px;
    //margin-top: -5px;
  }
}

ion-menu-toggle {
  font-size: 24px;
  line-height: 24px;
}

ion-toolbar ion-button {
  --ion-border-color: #fff;
  --border-width: 1px;
  --border-style: solid;
  --overflow: hidden;
  height: 32px;
  margin-left: 10px;
  text-transform: capitalize;
}

ion-button.bold {
  font-weight: bold;
}

ion-split-pane {
  --side-max-width: calc(100% - 220px);
  --side-min-width: calc(100% - 220px);
  --side-width: 100%;

  //&.split-pane {
  //
  //  ion-menu {
  //    min-width: 180px;
  //    max-width: 200px;
  //  }
  //}

  > ion-menu {
    --border: 0px;
    min-width: 220px !important;;
    width: 220px;

    > ion-content {
      --background: #ECF0F5;
      --ion-item-background: #ECF0F5;

      .menu-orders-list {

        ion-item {
          --inner-border-width: 0px;
          background: #fff;
          padding: 0 16px;
          border-radius: 3px;
          --ion-item-background: #fff;
          --inner-padding-end: 0px;

          ion-label {

            h2 {
              font-weight: 600;
            }

            p {
              color: #000;
            }
          }
        }
      }

      .menu-links-list {
        margin-top: 44px;

        ion-item {
          --inner-border-width: 0px;
          --border-width: 0 0 1px 0;
          font-weight: 500;

          a {
            --ion-color-primary: #323232;
          }
        }
      }
    }
  }
}

ion-menu-button {
  --border-radius: 0;
  width: 100% !important;
  font-size: 16px;
  font-weight: 400;

  ion-label {
    width: 100%;
    height: 30px;
    line-height: 30px;
  }
}

ion-router-outlet.menu-content {
  background-color: #ECF0F5;
}

ion-item.active-order {
  --background: #eee;
}

ion-split-pane {
  padding-top: 40px;
}

.history-icon {
  margin: 0 4px;
}

.auth-pages-wrapper {
  background-color: #fff;
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;

  &.imageless {
    background-image: none;
  }

  &.imagefull {
    background-image: url('/assets/img/alexfirst.png');
  }

}
.has-new-menu-point {
  padding-right: 16px;

  .new-menu-point {
    position: absolute;
    width: 16px;
    height: 16px;
    background: #ea4c4e;
    border-radius: 50%;
    top: 14px;
    right: 0;
  }
}

@media (max-width: 767px) {

  ion-title {
    margin: 0 auto;
    text-align: center;
  }

  ion-split-pane {

    > ion-menu {
      min-width: unset !important;
      width: unset !important;
    }

  }
}
