<ion-content>
  <app-add-category-button *ngIf="merchant" [accountId]="merchant.id"></app-add-category-button>
  <div *ngIf="merchant" class="ion-padding">
    <table class="table table-striped table-with-actions">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col" class="small-cell"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <th scope="row">
            {{ category.name }}
          </th>
          <td>
            {{ category.description }}
          </td>
          <td>
            <ion-buttons>
              <app-category-eye-button [category]="category"></app-category-eye-button>
              <ion-button (click)="showCategoryModal(category)">
                <ion-icon name="create"></ion-icon>
              </ion-button>
              <app-category-delete-button [accountId]="merchant.id" [categoryId]="category.id"></app-category-delete-button>
            </ion-buttons>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</ion-content>
