<ion-content class="ion-padding" class="transparent auth-page">
  <ion-card>

    <h1 class="text-align-center">
      <img src="./assets/img/logo.png" />
    </h1>

    <ion-card-title
        class="ion-margin-horizontal ion-padding-horizontal"
    >
      Create a Merchant Account
    </ion-card-title>
    <ion-card-subtitle
        class="ion-margin-horizontal ion-padding-horizontal ion-padding-top"
    >
      Fill out the information about your business below to get started with on-demand deliveries. No sign-up fees or credit card required.
    </ion-card-subtitle>

    <form (submit)="register(form.invalid || addressInvalid)" #form="ngForm">
      <div>
        <ion-icon name="person-outline"></ion-icon>
        <ion-input
            type="text"
            placeholder="Full Name"
            id="name"
            required
            minlength="5"
            pattern="\w+[\w\s]+.*"
            name="name"
            #nameEl="ngModel"
            [(ngModel)]="name"
        ></ion-input>
      </div>
<!--      <div *ngIf="nameEl.invalid && (nameEl.dirty || nameEl.touched)">-->
      <div *ngIf="nameEl.invalid && showErrors">
        <small class="error">
          Name should contain at least 5 symbols
        </small>
      </div>
      <div>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input
            type="email"
            placeholder="Email"
            id="email"
            required
            email
            name="email"
            #emailEl="ngModel"
            [(ngModel)]="email"
        ></ion-input>
      </div>
<!--      <div *ngIf="emailEl.invalid && (emailEl.dirty || emailEl.touched)">-->
      <div *ngIf="emailEl.invalid && showErrors">
        <small class="error">
          E-mail is invalid
        </small>
      </div>
      <div>
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input
            type="password"
            id="password"
            placeholder="Password"
            required
            minlength="5"
            name="password"
            #passEl="ngModel"
            [(ngModel)]="password"
        ></ion-input>
      </div>
<!--      <div *ngIf="passEl.invalid && (passEl.dirty || passEl.touched)">-->
      <div *ngIf="passEl.invalid && showErrors">
        <small class="error">
          Password should contain at least 5 symbols
        </small>
      </div>
      <div>
        <ion-icon name="call-outline"></ion-icon>
        <ion-input
            type="tel"
            placeholder="Contact Phone"
            id="phone"
            required
            pattern="(\+\d{2}[ -]?)?((\d{3}-\d{3}-\d{4})|(\d{10})|(\d{3} \d{3} \d{4}))"
            name="phone"
            #phoneEl="ngModel"
            [(ngModel)]="phone"
        ></ion-input>
      </div>
<!--      <div *ngIf="phoneEl.invalid && (phoneEl.dirty || phoneEl.touched)">-->
      <div *ngIf="phoneEl.invalid && showErrors">
        <small class="error">Please enter phone number in format:
          000-000-0000 or 000 000 0000 or 0000000000 or +00 000 000 0000, etc</small>
      </div>
      <div>
        <ion-icon name="laptop-outline"></ion-icon>
        <ion-input
            type="text"
            id="website"
            placeholder="Website"
            name="website"
            #websiteEl="ngModel"
            [(ngModel)]="website"
        ></ion-input>
      </div>
      <div>
        <ion-icon name="reader-outline"></ion-icon>
        <ion-input
            type="text"
            id="description"
            placeholder="Business Description"
            name="description"
            #descriptionEl="ngModel"
            [(ngModel)]="description"
        ></ion-input>
      </div>
      <div>
        <ion-icon name="pin-outline"></ion-icon>
        <ion-input
            type="text"
            id="address"
            placeholder="Address"
            name="address"
            required
            autocomplete="NoAutocompleteAddress"
            appAddressAutocomplete
            selector="input"
            #addressEl="ngModel"
            [options]="placesOptions"
            (onAddressChange)="handleAddressChange($event)"
            [(ngModel)]="formatted_address"
        ></ion-input>
      </div>
<!--      <div *ngIf="addressInvalid && (addressEl.dirty || addressEl.touched)">-->
      <div *ngIf="addressInvalid && showErrors">
        <small class="error">
          SnapGrab does not yet service this destination. We will let you know when we expand into this area.
        </small>
      </div>
<!--      <ion-button-->
<!--          type="submit"-->
<!--          [disabled]="form.invalid || addressInvalid"-->
<!--      >-->
      <ion-button type="submit">
        <noscript>
          <img height="1" width="1" style="display:none;" alt=""
               src="https://px.ads.linkedin.com/collect/?pid=2611772&fmt=gif"
          />
        </noscript>
        Register
      </ion-button>
      <div class="ion-margin-top"></div>
      <div class="link-wrapper ion-text-center">
        <a [routerLink]="['/login']">
          Login
        </a>
      </div>
    </form>

  </ion-card>
</ion-content>
