.card-info-item {
  font-size: 14px;
  font-weight: 500;

  img {
    width: auto;
    display: inline-block;
    //height: 15px;
    width: 50px;
    margin: 6px 6px 6px 0;
  }

  span {
    display: inline-block;
    height: 27px;
    margin-bottom: -5px;
    vertical-align: middle;
  }
}

hr {
  margin: 3px 0;
  border-top: 1px solid #ddd;
}
