<ion-content padding class="transparent auth-page">
  <ion-card>
    <h1 class="text-align-center">
      <img src="./assets/img/logo.png" />
    </h1>

    <form (submit)="restorePassword()" #form="ngForm">
      <div>
        <ion-icon name="mail"></ion-icon>
        <ion-input
            type="email"
            placeholder="E-mail"
            id="email"
            required
            email
            name="email"
            [(ngModel)]="email"
        ></ion-input>
      </div>
      <ion-button
          type="submit"
          [disabled]="form.invalid"
      >
        Get password
      </ion-button>
      <div margin-top></div>
      <div class="link-wrapper" text-center>
        <a [routerLink]="['/login']">
          Log in
        </a>
      </div>
    </form>
  </ion-card>
</ion-content>
