<ion-content padding class="transparent auth-page">
  <ion-card>
    <h1 class="text-align-center">
      <img src="./assets/img/logo.png" />
    </h1>

    <form (submit)="restorePassword()" #form="ngForm">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="emailPrepend">
            <ion-icon name="mail"></ion-icon>
          </span>
        </div>
        <input type="email"
               class="form-control"
               id="email"
               placeholder="Email"
               aria-describedby="emailPrepend"
               matInput
               required
               email
               name="email"
               [(ngModel)]="email"
        >
      </div>
      <div class="input-group">
        <ion-button type="submit" class="submit-button" [disabled]="form.invalid">
          <ion-icon name="information-circle-outline"></ion-icon>
          Get password
        </ion-button>
      </div>
      <div class="text-align-center ion-margin-bottom">
        <a [routerLink]="['/login']">
          <ion-icon name="log-in" class="small-button"></ion-icon>
          |
          Log in
        </a>
      </div>
    </form>
  </ion-card>
</ion-content>
