/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//@import "./theme/variables.scss";

::placeholder {
  color: #7f90a9 !important;
  opacity: 1 !important;
}

:-ms-input-placeholder {
  color: #7f90a9 !important;
  opacity: 1 !important;
}

::-ms-input-placeholder {
  color: #7f90a9 !important;
  opacity: 1 !important;
}

ion-content.transparent {
  --background: transparent;
}

ion-card {
  --ion-item-background: #FFF;
  --color: #000 !important;
  margin: 0 !important;

  .full-page-card {
    min-height: calc(100% - 20px);
  }
}

ion-toolbar {
  //--ion-background-color: #EB6061;
  --ion-background-color: #fff;
  --color: #fff;
  --min-height: 40px;
  --ion-color-primary: #EB6061;
  font-size: 14px;
  font-weight: 600;
}

ion-button {
  --background: #EB6061;
  --background-focused: #E85D5E;
  --background-hover: #E85D5E;

  &.centered {
    margin: 0 auto;
  }
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.has-bottom-border {
  border-bottom: 1px solid #efefef;
}

.mat-form-field-flex {
  background: #fff;
  padding-left: 8px;
  box-sizing: border-box;
  border: 1px solid #afafaf;
  padding-bottom: -3px;
}

.position-relative {
  position: relative;
}

small.error {
  margin: 0;
  font-size: 90%;
  color: #f00;
}

ion-icon[name=eye] {
  opacity: .5;
}

.table-with-actions {
  td.small-cell,
  th.small-cell {
    width: 100px;
  }

  ion-buttons {
    margin-top: -5px;
  }
}

.modal.show-modal {
  display: flex;
}

.opacity-05 {
  opacity: .5;
}

ion-fab-button {
  --ion-color-primary: #EB6061;
}

.auth-page {

  h1 {
    margin: 1rem 0;
  }

  ion-input {
    background-color: #D1DFED;
    margin: 8px 2rem;
    border-radius: 4px;
    width: auto;
    --padding-top: 10px;
    --padding-end: 0;
    --padding-bottom: 10px;
    --padding-start: 2rem;
    font-weight: bold;
    color: #687077;
  }

  ion-card {
    margin: 0 auto !important;
    max-width: 340px;
    padding: 20px;
    border-radius: 0;
    width: 95vw;
    min-height: 393px;
    margin-top: calc(50vh - 220px)  !important;;
  }

  ion-button {
    margin: 0 2rem;
    display: block;
    //--border-radius: 8px;
    -webkit-appearance: none;

    ion-icon {
      position: absolute;
      left: 15px;
    }
  }

  small {

    &.error {
      margin: 0 2rem;
    }
  }

  form {
    margin: 1.5rem auto 1rem;
  }

  .link-wrapper {
    margin-top: 8px;
    font-weight: bold;

    &.forgot-password-container {
      margin-top: 1.5rem;
      margin-right: 2rem;
    }

    > a {
      color: #EB6061;
    }
  }
}

h1 {
  ion-icon {
    margin-bottom: -3px;
  }
}

tooltip-box {
  margin-top: -40px;
  border-radius: 4px;
  left: 30px !important;
}

.form-control,
.form-control:focus
{
  background-color: #e8edf1;
  color: #7f90a9 !important;
  border: 0;
}

.form-control[disabled] {
  background-color: #e0e5e9;
  color: #7687a0 !important;
}

.input-group.has-icon {

  ion-icon {
    color: #7f90a9;
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 20px;
    margin: 0 10px;

    &.icon-right {
      right: 0;
    }
  }

  .has-icon {
    padding-left: 40px;
  }
}

ion-footer ion-toolbar {
  --ion-background-color: #dfdfdf;
  --color: #919191;

  .lock-image {
    height: 26px;
    margin-top: 3px;
  }

  ion-title {
    font-weight: 700;
  }
}

ion-card.new-card-ui {
  margin-bottom: 16px !important;

  &:last-child {
    margin-bottom: 0px !important;
  }

  ion-grid {
    --ion-grid-padding: 0;

    ion-col {
      padding-inline-start: 0;

      &.vertical-center {
        align-items: center;
        display: flex;
        flex-direction: row;
      }
    }
  }

  ion-item {
    min-height: 36px !important;
    --ion-color-primary: #EB6061;
    --min-height: 36px !important;
    --inner-border-width: 0;

    &.sg-card-header {

      --inner-border-width: 0 0 1px 0;
      position: relative;

      h3 {
        font-size: 16px;
        font-weight: 500;
        margin: 8px 0;
        max-width: 71%;
      }

      a {
        position: absolute;
        right: 0;
        top: 8px;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: initial;
}

.modal-wrapper {

  ion-toolbar {
    padding-top: calc(var(--ion-safe-area-top));
  }
}

.button-clear {
  --background: transparent;
}

.app-padding-right-45 {
  padding-right: 45px;
}

@media (max-width: 575px) {
  .hide-xs {
    display: none;
  }

  .show-xs {
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .hide-sm {
    display: none;
  }
}

@media (max-width: 767px) {

  h1 {
    font-size: 18px;
  }

  table {
    td, th {
      padding: 2px !important;
    }
  };

  .hide-phone {
    display: none;
  }

  tooltip-box {
    font-size: 12px !important;
    max-width: 280px;
    white-space: normal;
  }

  ion-content.transparent {
    --ion-padding: 8px;

    .ion-padding {
      --ion-padding: 16px;
    }
  }

  .no-margin-phone {
    margin: 0 !important;
  }

  .header-horizontal-padding-phone {
    padding-left: 5px;
    padding-right: 5px;
  }

  .ion-page {
    top: calc(var(--ion-safe-area-top) + 40px);
  }

  ion-app.ion-page,
  ion-modal .ion-page
  {
    top: 0;
  }

  .menu-grid-container {

    padding: 0;

    ion-item {

      > * {
        font-size: 12px !important;
      }

      ion-label {
        padding-right: 45px !important;
      }

      .category-title-wrapper {

        ion-label {
          padding-right: 0px !important;
        }
      }

      ion-buttons {
        margin: 0;
      }
    }

    ion-toolbar {
      ion-title .category-title {
        padding-right: 2px !important;
        font-size: 13px;
      }
    }


  }
}

@media (min-width: 768px) {
  .hide-tablet {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hide-md {
    display: none;
  }

  .show-md {
    display: block;
  }
}
