<ion-card-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm>
        <p>
          <ion-icon name="pin" class="green"></ion-icon>
        </p>
        <p><b>{{order.metadata.pickUpTitle}}</b></p>
        <p><b>Address: </b>{{order.metadata.pickUpAddress}}</p>
        <p><b>Phone: </b>{{order.metadata.pickUpPhone}}</p>
      </ion-col>
      <ion-col size="12" size-sm>
        <p>
          <ion-icon name="pin" class="red"></ion-icon>
        </p>
        <p><b>{{order.metadata.dropOffTitle}}</b></p>
        <p><b>Address: </b>{{order.metadata.dropOffAddress}}</p>
        <p><b>Phone: </b>{{order.metadata.dropOffPhone}}</p>
      </ion-col>
      <ion-col size="12" size-sm>
        <p>
          <ion-icon name="briefcase"></ion-icon>
        </p>
        <p><b>Reference ID: </b>{{order.merchantId}}</p>
        <p><b>Created: </b>{{order.createdAt | date:'short'}}</p>
        <p><b>Distance: </b>{{(order.metadata.distance / 1000) | number:'1.2-2'}}km</p>
        <p *ngIf="order.scheduledAt">
          <b>PickupTime: </b>
          {{order.scheduledAt | date:'short'}}
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm>
        <p>
          <ion-icon name="car"></ion-icon>
        </p>
        <p><b>Driver</b></p>
        <p *ngIf="order.driverProfile && order.driverProfile.lastName">
          <b>Name: </b>
          {{ order.driverProfile.firstName }}
          {{ order.driverProfile.lastName }}
        </p>
        <p *ngIf="!order.driverProfile || !order.driverProfile.lastName">
          No associated driver
        </p>
      </ion-col>
      <ion-col size="12" size-sm>
        <p>
          <ion-icon name="list"></ion-icon>
        </p>
        <p><b>Instructions: </b></p>
        <p>{{order.metadata.description}}</p>
      </ion-col>
      <ion-col size="12" size-sm>
        <p>
          <ion-icon name="print" class="print-icon" (click)="print()"></ion-icon>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="order.orderItems && order.orderItems.length">
    <ion-list-header>
      <h1>
        <i class="fa fa-product-hunt bag-color fa-2x"></i>
        Products
      </h1>
    </ion-list-header>
    <ion-item *ngFor="let item of order.orderItems">
      <p>
        {{item.quantity}}x {{item.description}} ${{item.price | number:'1.2-2' }}
      </p>
    </ion-item>
  </ion-list>
  <ion-button color="light" [href]="getTrackingUrl(order)" target="_blank">
    <ion-icon name="link"></ion-icon>
    Tracking Link
  </ion-button>
</ion-card-content>
