ion-icon {
  font-size: 30px;
  color: #888;
}

ion-icon.green {
  color: #7fc743;
}

ion-icon.red {
  color: #f7584c;
}

ion-list-header {
  border-bottom: 1px solid #ddd;
}

.print-icon {
  font-size: 62px;
  color: #000;
}
