<ion-content padding class="transparent">

  <div class="booking-header">
    <img src="./assets/img/Bookings.png">
  </div>

  <form (submit)="createOrder()" #form="ngForm" class="transparent">

    <ion-card padding>

      <h1>Drop-off Details</h1>

      <div class="form-group">
        <label for="name">Dropoff Name:</label>
        <div class="input-group">
          <input type="text"
                 class="form-control"
                 id="name"
                 placeholder="Name"
                 matInput
                 required
                 name="name"
                 #nameEl="ngModel"
                 autocomplete="NoAutocomplete"
                 [(ngModel)]="name"
          >
        </div>
      </div>

      <div *ngIf="nameEl.invalid && (nameEl.dirty || nameEl.touched)">
        <small class="error">Please enter the name</small>
      </div>

      <div class="form-group">
        <label for="address">Dropoff Address:</label>
        <div class="input-group">
          <input type="text"
                 class="form-control"
                 id="address"
                 placeholder="Address"
                 matInput
                 required
                 name="address"
                 autocomplete="NoAutocompleteAddress"
                 ngx-google-places-autocomplete
                 #addressEl="ngModel"
                 [options]="placesOptions"
                 (onAddressChange)="handleAddressChange($event)"
                 [(ngModel)]="address"
          >
        </div>
      </div>

      <div *ngIf="addressInvalid && (addressEl.dirty || addressEl.touched)">
        <small class="error">SnapGrab does not yet service this destination. We will let you know when we
          expand into this area.</small>
      </div>

      <div class="form-group">
        <label for="zipcode">Dropoff Postal Code:</label>
        <div class="input-group">
          <input type="text"
                 class="form-control"
                 id="zipcode"
                 placeholder="Postal Code"
                 matInput
                 required
                 disabled
                 name="zipcode"
                 [(ngModel)]="zipcode"
          >
        </div>
      </div>

      <div class="form-group">
        <label for="phone">Mobile Phone:</label>
        <div class="input-group">
          <input type="tel"
                 class="form-control"
                 id="phone"
                 placeholder=""
                 matInput
                 required
                 pattern="(\+\d{2}[ -]?)?((\d{3}-\d{3}-\d{4})|(\d{10})|(\d{3} \d{3} \d{4}))"
                 name="phone"
                 autocomplete="NoAutocomplete"
                 #phoneEl="ngModel"
                 [(ngModel)]="phone"
          >
        </div>
      </div>

      <div *ngIf="phoneEl.invalid && (phoneEl.dirty || phoneEl.touched)">
        <small class="error">Please enter phone number in format:
          000-000-0000 or 000 000 0000 or 0000000000 or +00 000 000 0000, etc</small>
      </div>

    </ion-card>
    <ion-card padding>

      <h1>Additional Information</h1>

      <div class="form-group ion-margin-top">
        <label for="instruction">Instruction:</label>
        <div class="input-group">
          <input type="text"
                 class="form-control"
                 id="instruction"
                 placeholder="Instruction eg. leave with doorman or suite 200 or app 2"
                 matInput
                 name="instruction"
                 [(ngModel)]="instruction"
          >
        </div>
      </div>

      <ion-item>
        <!--<ion-label>Bring item back to shop (Add a reverse delivery from the dropoff location back to the shop)</ion-label>-->
        <ion-label>
          Bring item back to shop
          <ion-icon
              name="information-circle-outline"
              tooltip="Add a reverse delivery from the dropoff location back to the shop"
              positionV="bottom"
              positionH="left"
              event="click"
          ></ion-icon>
        </ion-label>
        <ion-toggle slot="end" name="bringBack" mode="ios" color="success"
                    [(ngModel)]="bringBack" (ionChange)="calculateTotalFee()"
        ></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>
          Large Heavy Order
          <ion-icon
              name="information-circle-outline"
              tooltip="more than 3 bags, boxes, large items"
              positionV="bottom"
              positionH="left"
              event="click"
          ></ion-icon>
        </ion-label>
        <ion-toggle slot="end" name="largeOrder" mode="ios" color="success"
                    [(ngModel)]="largeOrder" (ionChange)="calculateTotalFee()"
        ></ion-toggle>
      </ion-item>

    </ion-card>
    <ion-card padding>

      <h1>Delivery Time</h1>

      <p><b>Pick Up Time  (Please allow up to 60 minutes from scheduled pick up for completed delivery): </b></p>

      <ion-item>
        <ion-label>Date</ion-label>
        <!--<ion-datetime-->
            <!--displayFormat="YYYY-MM-DD"-->
            <!--picker-format="YYYY MM DD"-->
            <!--[min]="minYear"-->
            <!--[max]="maxYear"-->
            <!--(ionChange)="dateChanged($event)"-->
            <!--[(ngModel)]="date"-->
            <!--[ngClass]="{'sg-invalid': dateInvalid}"-->
            <!--name="date"-->
        <!--&gt;</ion-datetime>-->
        <ion-datetime
            displayFormat="YYYY-MM-DD"
            picker-format="YYYY MM DD"
            [min]="minYear"
            [max]="maxYear"
            (ionChange)="dateChanged($event)"
            [value]="date"
            [ngClass]="{'sg-invalid': dateInvalid}"
            name="date"
        ></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Time</ion-label>
        <!--<ion-datetime-->
            <!--display-format="HH:mm"-->
            <!--picker-format="HH mm"-->
            <!--hourValues="10,11,12,13,14,15,16,17,18,19,20,21,22"-->
            <!--(ionChange)="timeChanged($event)"-->
            <!--[(ngModel)]="time"-->
            <!--name="time"-->
        <!--&gt;</ion-datetime>-->
        <ion-datetime
            display-format="HH:mm"
            picker-format="HH mm"
            hourValues="10,11,12,13,14,15,16,17,18,19,20,21,22"
            (ionChange)="timeChanged($event)"
            [value]="time"
            name="time"
        ></ion-datetime>
      </ion-item>
      <div>&nbsp;
        <small class="error" *ngIf="dateInvalid">Please, choose delivery date and time in the future</small>
        <br *ngIf="dateInvalid && timeInvalid"/>
        <small class="error" *ngIf="timeInvalid">Please, choose delivery time between 10:00 and 22:00</small>
      </div>

    </ion-card>
    <ion-card padding>

      <h1>Confirm</h1>

      <div class="form-group">
        <label for="fee">Delivery Fee Calculator:</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="fee1Prepend">
              <ion-icon name="logo-usd"></ion-icon>
            </span>
          </div>
          <input type="text"
                 class="form-control"
                 id="fee"
                 placeholder="Delivery Fee"
                 aria-describedby="fee1Prepend"
                 matInput
                 required
                 disabled
                 name="fee"
                 [(ngModel)]="fee"
          >
          <div class="input-group-append">
            <span class="input-group-text">
              <ion-icon name="car"></ion-icon>
            </span>
          </div>
        </div>
      </div>

      <div class="input-group">
        <ion-button
            type="submit"
            class="submit-button"
            [disabled]="form.invalid || addressInvalid || timeInvalid || dateInvalid"
        >
          <ion-icon slot="start" name="send"></ion-icon>
          Place delivery
        </ion-button>
      </div>

    </ion-card>

  </form>


</ion-content>
