<ion-content>
  <ng-container>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeXs="12" sizeMd="3">
        <ion-button fill="clear" size="large" class="sync square">
          <div class="inner">
            <img src="./assets/img/shopify.png" alt="">
            <span>Sync with Shopify</span>
          </div>
        </ion-button>
      </ion-col>
      <ion-col sizeXs="12" sizeMd="3">
        <ion-button fill="clear" size="large" class="sync square">
          <div class="inner">
            <img src="./assets/img/square.svg" alt="">
            <span>Sync with square</span>
          </div>
        </ion-button>
      </ion-col>
      <ion-col sizeXs="12" sizeMd="3">
        <ion-button fill="clear" size="large" class="sync square">
          <div class="inner">
            <img src="./assets/img/lightspeed.png" alt="">
            <span>Sync with Lightspeed</span>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ng-container>
  <ng-container *ngIf="merchant">
    <ion-row class="ion-margin-vertical">
      <ion-col sizeXs="12" sizeMd="7" sizeLg="8" sizeXl="9" class="ion-padding-start">
        <form
                (submit)="doSearch()"
                #form="ngForm"
                class="transparent"
        >
          <div class="input-group has-icon">
            <ion-icon name="search-outline"></ion-icon>
            <input type="text"
                   class="form-control has-icon"
                   id="name-search"
                   placeholder="Search"
                   matInput
                   name="searchQuery"
                   required
                   #nameEl="ngModel"
                   autocomplete="NoAutocomplete"
                   [(ngModel)]="searchQuery"
            >
            <ion-icon name="close-circle-outline" style="right:0" (click)="clearSearch()"></ion-icon>
          </div>
        </form>
      </ion-col>
      <ion-col sizeXs="12" sizeMd="5" sizeLg="4" sizeXl="3">
        <app-add-category-button [accountId]="merchant.id"></app-add-category-button>
      </ion-col>
    </ion-row>
  </ng-container>
  <ng-container *ngIf="isSearching; else showAllCategories">
    <app-category-item [category]="searchCategory" [merchant]="merchant"></app-category-item>
  </ng-container>
  <ng-template #showAllCategories>
    <ng-container *ngIf="categories">
      <div *ngFor="let category of categories" class="menu-grid-container ion-padding">
        <app-category-item [category]="category" [merchant]="merchant"></app-category-item>
      </div>
      <div class="ion-text-center">
        <ion-button *ngIf="!allItemsLoaded" (click)="loadMore()"
                    color="primary" class="ion-margin-horizontal"
        >Load More</ion-button>
      </div>
    </ng-container>
  </ng-template>
</ion-content>
