:host {
  top: 0;
}

ion-title {
  .category-title {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 140px;
    max-width: 100%;
  }
}

ion-item {
  --inner-padding-end: 4px;
  --padding-start: 15px;

  ion-label {
    padding-right: 70px;
    position: relative;

  .product-inner-label {
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100%;
    }

    .product-price {
      position: absolute;
      right: 0;
    }
  }

  ::ng-deep {
    .item-native {
      border-width: var(--inner-border-width);
      border-style: var(--border-style);
      border-color: var(--border-color);

      .item-inner {
        border: 0;
      }
    }
  }
}

app-add-product-button {
  float: right;
}

@media (max-width: 768px) {


}
