ion-card {

  ion-item {

    &.sg-card-profile {

      h3 {
        font-size: 14px;
        font-weight: 500;
        margin: 0;
      }

      h4 {
        font-size: 14px;
        font-weight: 400;
        margin: 0;

        &:last-child {
          margin-bottom: 8px;
        }
      }

      .merchant-logo-upload-button {
        width: 95%;
        height: 90%;

        ion-icon {
          width: 35%;
          height: 35%;
          color: #686d73;
        }
      }

      .merchant-logo-uploader {
        width: 95%;
        height: 90%;
        background: #7f90a9;
        opacity: 0;
        position: absolute;
        z-index: 1;
      }
    }

    &.sg-card-snapgrab {

      --inner-padding-end: 0;

      .status-circle {
        display: inline-block;
        width: 16px;
        border-radius: 50%;
        overflow: hidden;
        height: 16px;
        margin-right: 16px;

        &.status-active {
          background: #0ec254;
        }

        &.status-inactive {
          background: #8d8d8d;
        }
      }
    }

    &.open-time {
      --background: #efefef;
    }

    &.close-time {
      --background: #dfdfdf;
    }

    &.open-time,
    &.close-time {
      --border-width: 0;
      --inner-padding-end: var(--ion-safe-area-right, 0px);
      background: var(--background);
      border-width: 0 0 1px 0;
      border-color: var(--border-color);
      border-style: solid;
    }

    ion-datetime {
      --padding-top: 0px;
      --padding-bottom: 0px;
    }

    &.sg-card-receipts {

      --padding-end: 0;
      --inner-padding-end: 0;
    }

    &.sg-card-payments {

      .card-image {
        height: 18px;
        width: auto;
        margin-right: 16px;
      }
    }

    ion-toggle {
      --background: #54B0FF;
      --background-checked: #54B0FF;

      --handle-background: #aaa;
      --handle-background-checked: #54B0FF;
    }
  }

  .sg-card-reports-phone {

    ion-item {
      font-size: 14px;

      ion-label {
        margin: 4px 0;
      }
    }
  }

  .api-token-input {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    max-width: 300px;
    padding-right: 16px !important;
  }
}
