.image-container {
  max-width: 400px;
  margin: 30px auto;
  background-color: #afafaf;
  padding: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;

  &:before {
    content: '';
    display: block;
    padding-top: 55%;
  }

  > div {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      margin-top: 0;
    }

    h4 {
      margin: 0;
      text-align: center;
    }
  }
}

ion-button {
  display: block;
  max-width: 400px;
  margin: 10px auto;
}
